<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}"></title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <header>
            <a class="logo" href="/">Web-shop</a>
            <ul class="nav_menu nav_menu_admin" data-active="0" th:if="${auth == true}">
                <li><a href="/">Товары</a></li>
                <li><a href="/cart">Корзина</a></li>
                <li><a href="/orders">Заказы</a></li>
            </ul>
            <img class="menu_burger" src="/img/icon_burger_menu_light.png" data-active="0">
            <div class="logout_form" th:if="${auth == true}">
                <form class="logout_form" th:method="POST" th:action="@{/logout}">
                    <input type="submit" value="Выйти">
                </form>
            </div>
            <div class="login_reg_container" th:if="${auth == false}">
                <a th:href="@{/authentication}">Вход</a>
                <a th:href="@{/registration}">Регистрация</a>
            </div>
        </header>
        <div class="main">
            <ul class="bread_crumb">
                <li th:text="${title}"></li>
            </ul>
            <h1 class="f_title">Товары нашего магазина</h1>
            <form class="filter_form" th:method="POST" th:action="@{/}">
                <fieldset>
                    <legend>Поиск и фильтрация</legend>
                    <input class="field field_front" type="text" name="search" placeholder="Введите название товара">
                    <div class="button_box_center" data-active="0">
                        <img class="left" src="/img/arrow-down_green_icon.png">
                        <span class="added_fields_btn">дополнительные поля</span>
                        <img  class="right" src="/img/arrow-down_green_icon.png">
                        <div class="added_field_container">
                            <div class="group_col_2">
                                <div class="inline_group_field">
                                    <p class="label_field">Цена:</p>
                                    <div class="field_box">
                                        <label for="prce_from">от</label>
                                        <input type="number" name="price_from" id="prce_from" min="1" step="0.01">
                                        <label for="prce_to">до</label>
                                        <input type="number" name="price_to" id="prce_to" min="1" step="0.01">
                                    </div>
                                </div>
                                <div class="inline_group_field">
                                    <p class="label_field">Сортировка по цене:</p>
                                    <div class="field_box">
                                        <input type="radio" name="price_sort" value="asc" id="price_sort_asc">
                                        <label for="price_sort_asc">по возрастанию</label>
                                        <input type="radio" name="price_sort" value="desc" id="price_sort_desc">
                                        <label for="price_sort_desc">по убыванию</label>
                                    </div>
                                </div>
                            </div>
                            <select class="field field_front" name="categoryId">
                                <option value="">Выберите категорию</option>
                                <option th:each="category : ${categoryList}"
                                    th:text="${category.getTitle}"
                                    th:value="${category.getId}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="button_box_right">
                        <input class="btn_add ml-auto btn_small" type="submit" value="Поиск">
                    </div>
                </fieldset>
            </form>
            <div class="product_container">
                <div class="product_item" th:each="product : ${productList}">
                    <a th:href="@{/product/{id}(id=${product.getId})}">
                        <div class="product_img_container" th:each="img : ${product.getProductImageList}" th:if="${img.getType() == 1}">
                            <img th:src="'/image/' + ${img.getFileName}">
                        </div>
                        <p class="el_price" th:text="${product.getPrice} + ' р.'"></p>
                        <p class="el_title" th:text="${product.getTitle}"></p>
                        <div class="hover_popup">подробнее</div>
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <a class="logo" href="/">web-shop.ru</a>
        </footer>
        <script src="/js/main.js"></script>
    </body>
</html>