table {
    margin: 30px 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

table th {
    border: 1px solid #A4A4A4;
    background: #F4F2E5;
    padding: 10px 0px;
    font-weight: 600;
}

table tr:nth-child(even), .info_container > div:nth-child(even) {
    background: #F2F2F2;
}

table a {
    color: teal;
}

table a:hover {
    color: #5CA108;
}

table .btn_box {
    text-align: center;
}

table td {
    padding: 10px 5px;
    border: 1px solid #A4A4A4;
    word-wrap: break-word;
}

table td img {
    max-height: 200px;
}

.info_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #A4A4A4;
    margin-top: 30px;
}

.info_container > div {
    display: flex;
    font-size: 20px;
}

.info_container .info_container_img {
    max-width: 600px;
}

.info_container > div:not(:last-child) {
    border-bottom: 1px solid #A4A4A4;
}

.info_container > div > div:first-child {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #A4A4A4;
}

.info_container > div > div:last-child {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.empty_list_note {
    color: #6E6E6E;
}

.field_file {
    font-size: 18px;
}

.field_file::file-selector-button {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #3670C9;
    box-sizing: border-box;
    color: #3670C9;
    transition: .3s;
    font-size: 20px;
    cursor: pointer;
    background: #FFF;
}

.field_file::file-selector-button:hover {
    background:  #3670C9;
    color: #FFF;
}

.image_list_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}

.image_item {
    width: calc((100% - 30) / 3);
    height: 230px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-end;
}

.image_item > img {
    max-width: 100%;
    max-height: 80%;
}