:root {
    --padding: calc(100% - 1600px);
    --color-main: #4A8068;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: calc(100% - 2 * var(--padding));
    z-index: 10;
}

header, footer {
    height: 70px;
    background: var(--color-main);
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 0 var(--padding);
}

header a, footer a {
    color: #FFF;
}

header .logo {
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
}

.main {
    flex: 1 0 auto;
    padding: 0 var(--padding);
    box-sizing: border-box;
    margin: 25px 0;
    z-index: 1;
    margin-top: 70px;
}

.auth_wrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.auth_box {
    padding: 15px;
    border: 1px solid var(--color-main);
    border-radius: 5px;
    margin-top: 75px;
}

.auth_box .title {
    display: flex;
    align-items: flex-end;
    column-gap: 8px;
}

.auth_box .title_reg {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    row-gap: 8px;
}

.auth_box .title > h2, .auth_box .title > p {
    margin: 0;
}

.auth_box .title > p {
    line-height: 23px;
    font-size: 18px;
}

.auth_box .title a {
    color: #3D9AC2;
    transition: .3s;
}

.auth_box .title a:hover {
    color: #136081;
}

.auth_box form {
    margin-top: 20px;
}

.field_text {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    outline: 1px solid #000;
    box-sizing: border-box;
    resize: none;
}

.field {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    outline: 1px solid #000;
    box-sizing: border-box;
}

.field:focus, .field_text:focus {
    outline: 2px solid var(--color-main);
}

.btn_add {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #0AB668;
    box-sizing: border-box;
    color: #0AB668;
    transition: .3s;
    font-size: 18px;
    cursor: pointer;
    background: #FFF;
}

.btn_add:hover {
    background:  #0AB668;
    color: #FFF;
}

.btn_edit {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #3670C9;
    box-sizing: border-box;
    color: #3670C9;
    transition: .3s;
    font-size: 20px;
    cursor: pointer;
    background: #FFF;
}

.btn_edit:hover {
    background:  #3670C9;
    color: #FFF;
}

.btn_delete {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #E54B3C;
    box-sizing: border-box;
    color: #E54B3C;
    transition: .3s;
    font-size: 20px;
    cursor: pointer;
    background: #FFF;
}

.btn_delete:hover {
    background:  #E54B3C;
    color: #FFF;
}

.auth_box .btn_box {
    display: flex;
    justify-content: right;
}

.field_note_error {
    margin-bottom: 10px;
    margin-top: -10px;
    color: red;
    font-size: 16px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.logout_form > input[type="submit"] {
    display: inline-block;
    box-sizing: border-box;
    color: #FFF;
    transition: .3s;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.logout_form > input[type="submit"]:hover, .nav_menu > li a:hover, .login_reg_container a:hover {
    color: #D8D8D8;
}

.login_reg_container {
    display: flex;
    column-gap: 10px;
}

.login_reg_container a {
    color: #FFF;
    transition: .3s;
    font-size: 18px;
}

.nav_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 10px;
    font-size: 18px;
}

.nav_menu > li a {
    transition: .3s;
}

.menu_burger {
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    display: none;
}

.bread_crumb {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px 0;
    padding: 5px;
    border-radius: 3px;
    background: #E6E6E6;
}

.bread_crumb li {
    color: #6E6E6E; 
}

.bread_crumb li > a:hover {
    color: #000;
}

.bread_crumb li > a {
    color: #585858;
    font-weight: 600;
    transition: .3s;
}

.bread_crumb li:not(:last-child)::after {
    content: '/';
    color: #6E6E6E;
    margin-left: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.product_container {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 15px;
}

.product_item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.product_item > a {
    position: relative;
}

.product_img_container {
    height: 270px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_img_container img {
    object-fit: cover;
    object-position: center;
}

.product_container .el_price {
    padding: 15px 5px 10px 5px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #000;
}

.product_container .el_title {
    padding: 0 5px 15px 5px;
    font-size: 16px;
    margin: 0;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.product_item:hover .hover_popup {
    opacity: 1;
}

.hover_popup {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    color: #FFF;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.5);
    transition: .4s;
    opacity: 0;
}

.f_title {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--color-main);
}

@media (min-width: 768px) {
    .logout_form, .login_reg_container {
        margin-left: auto;
    }
}

@media (max-width: 1620px) {
    :root {
        --padding: 10px;
    }
}

@media (max-width: 768px) {
    .auth_box .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }

    .menu_burger {
        display: block;
    }

    .nav_menu {
        flex-direction: column;
        position: absolute;
        background: var(--color-main);
        row-gap: 10px;
        transition: .3s;
        max-height: 0;
        overflow: hidden;
        pointer-events: none;
        opacity: 0;
        top: 70px;
        right: 100px;
        padding: 10px;
    }

    .nav_menu > li a {
        display: block;
    }

    .nav_menu[data-active="1"] {
        max-height: 1000px !important;
        pointer-events: unset !important;
        opacity: 1 !important;
    }
}

@media (max-width: 440px) {
    .product_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}