<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}"></title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/admin_main.css">
    </head>
    <body>
        <header>
            <a class="logo" href="/">Web-shop</a>
            <ul class="nav_menu nav_menu_admin" data-active="0">
                <li><a href="/admin/user">Пользователи</a></li>
                <li><a href="/admin/category">Категории</a></li>
                <li><a href="/admin/product">Товары</a></li>
                <li><a href="/admin/order">Заказы</a></li>
            </ul>
            <img class="menu_burger" src="/img/icon_burger_menu_light.png" data-active="0">
            <form class="logout_form" th:method="POST" th:action="@{/logout}">
                <input type="submit" value="Выйти">
            </form>
        </header>
        <div class="main">
            <ul class="bread_crumb">
                <li><a th:href="@{/admin/product}">Список товаров</a></li>
                <li th:text="${title}"></li>
            </ul>
            <div class="field_note_error" th:if="${error_flash != null}" th:text="${error_flash}"></div>
            <h1 th:text="${title}"></h1>
            <a class="btn_edit" th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать</a>
            <a class="btn_delete" th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить</a>
            <div class="info_container">
                <div>
                    <div>ID</div>
                    <div th:text="${product.getId}"></div>
                </div>
                <div>
                    <div>Название</div>
                    <div th:text="${product.getTitle}"></div>
                </div>
                <div>
                    <div>Основное изображение</div>
                    <div>
                        <div th:each="img : ${product.getProductImageList}" th:if="${img.getType() == 1}">
                            <img class="zoom_img" th:src="'/image/' + ${img.getFileName}">
                        </div>
                    </div>
                </div>
                <div>
                    <div>Дополнительные изображения</div>
                    <div>
                        <div class="image_list_container">
                            <div th:each="img : ${product.getProductImageList}" th:if="${img.getType() == 2}">
                                <div class="image_item">
                                    <img class="zoom_img" th:src="'/image/' + ${img.getFileName}">
                                    <a class="btn_delete btn_small" th:href="@{|/admin/product/delete-secondary-img/${product.getId}/${img.getId}|}">Удалить</a>
                                </div>
                            </div>
                        </div>
                        <form th:method="POST" th:action="@{/admin/product/add-secondary-img/{id}(id=${product.getId})}" enctype="multipart/form-data">
                            <input class="field_file" type="file" name="file" id="file">
                            <div class="field_note_error mt-10" th:if="${error_file != null}" th:text="${error_file}"></div>
                        </form>
                    </div>
                </div>
                <div>
                    <div>Категория</div>
                    <div th:text="${product.getCategory().getTitle}"></div>
                </div>
                <div>
                    <div>Склад</div>
                    <div th:text="${product.getWarehouse}"></div>
                </div>
                <div>
                    <div>Продавец</div>
                    <div th:text="${product.getSeller}"></div>
                </div>
                <div>
                    <div>Дата создания</div>
                    <div th:text="${#temporals.format(product.getCreatedAt(), 'dd-MMM-yyyy')}"></div>
                </div>
            </div>
        </div>
        <footer>
            <a class="logo" href="/">web-shop.ru</a>
        </footer>
        <div class="modal" id="large_image" data-active="0">
            <img src="">
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>