<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}"></title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/admin_main.css">
    </head>
    <body>
        <header>
            <a class="logo" href="/">Web-shop</a>
            <ul class="nav_menu nav_menu_admin" data-active="0">
                <li><a href="/admin/user">Пользователи</a></li>
                <li><a href="/admin/category">Категории</a></li>
                <li><a href="/admin/product">Товары</a></li>
                <li><a href="/admin/order">Заказы</a></li>
            </ul>
            <img class="menu_burger" src="/img/icon_burger_menu_light.png" data-active="0">
            <form class="logout_form" th:method="POST" th:action="@{/logout}">
                <input type="submit" value="Выйти">
            </form>
        </header>
        <div class="main">
            <ul class="bread_crumb">
                <li th:text="${title}"></li>
            </ul>
            <h1 th:text="${title}"></h1>
            <a class="btn_add" href="/admin/product/add">Добавить товар</a>
            <div th:if="${productList.size() > 0}">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Основное изображение</th>
                            <th>Цена</th>
                            <th>Склад</th>
                            <th>Продавец</th>
                            <th>Дата создания</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr th:each="product : ${productList}">
                        <td th:text="${product.getId}"></td>
                        <td th:text="${product.getTitle}"></td>
                        <td>
                            <div th:each="img : ${product.getProductImageList}" th:if="${img.getType() == 1}">
                                <img th:src="'/image/' + ${img.getFileName}">
                            </div>
                        </td>
                        <td th:text="${product.getPrice}"></td>
                        <td th:text="${product.getWarehouse}"></td>
                        <td th:text="${product.getSeller}"></td>
                        <td th:text="${#temporals.format(product.getCreatedAt(), 'dd-MMM-yyyy')}"></td>
                        <td class="btn_box"><a th:href="@{/admin/product/details/{id}(id=${product.getId()})}">детали</a></td>
                    </tr>
                </table>
            </div>
            <div th:if="${productList.size() <= 0}">
                <h3 class="empty_list_note">В настоящее время товары отсутствуют, добавьте новый товар</h3>
            </div>
        </div>
        <footer>
            <a class="logo" href="/">web-shop.ru</a>
        </footer>
        <script src="/js/main.js"></script>
    </body>
</html>