<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Страница не найдена</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <header>
            <a class="logo" href="/">Web-shop</a>
        </header>
        <div class="main">
            <h1>404 страница не найдена</h1>
            <a class="btn_edit dtn_small" href="/">вернуться на главную страницу</a>
        </div>
        <footer>
            <a class="logo" href="/">web-shop.ru</a>
        </footer>
    </body>
</html>